extends layout

block content    
    h1 #{cloth_list.name} 
        ul
        each item in cloth_list 
            li 
                img(src=item.pic_url, style='width:100px;height:100px;')
                a(href=item.url) shopping here!
        else
            li There are no books.