extends layout

block content    
    h1 #{title} 
        ul
        each item in fashioninstance. 
            li 
                img(src=item.pic_url, style='width:100px;height:100px;')
                a(href=item.shopping_url) shopping here!
        else
            li There are no cloth.