

block content    
    h1 #{title} 

    img(src=fashioninstance.com_pic_url, style='width:100px;height:100px;')
    ul
    each item in fashioninstance.clothid
        li 
            img(src=item.pic_url, style='width:100px;height:100px;')
            a(href=item.shopping_url) shopping here!
    else
        li There are no cloth.